.container-fluid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.affair{
  width: 280px;
  background-color: #fff;
  height: 140px;
  border-radius: 10px;
  border: 1px solid #f1f1f1;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.affair>h3{
  height: 100px !important;
  line-height: 110px !important;
  padding: 0 !important;
  margin: 0 !important;
  text-align: center;
  border-bottom: 1px solid #f1f1f1;
  font-size: 20px !important;
  cursor: pointer;
}
.affair>p{
  margin: 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  line-height: 40px;
  height: 40px;
  color: lightgray !important;
}
.affair>p>button{
  background-color: lightgray;
  display: none;
}
.affair>p>button:hover{
  background-color: white !important;
  color: gray !important;
  display: none;
}

.addDiv{
  background-color: #eeeeee !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 15px !important;
  margin-bottom: 30px
}
.addDiv span{
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

