.container-fluid
  .container
    .col-md-8.col-xs-0
      .col-md-3.col-xs-4
          img.img-responsive(src='/img/logo.png')
      .col-md-9.col-xs-8
        h3.text-left.title #{title}
    .col-md-4.col-xs-0
      img.img-responsive.gif(src='/img/xiaoxun.gif')
br