.container-fluid(style="background-color: #1295D8;background-image: url('/img/background.png')")
  .container
    .col-md-8.col-xs-0
      .col-md-3.col-xs-4
          img.img-responsive(src='/img/logo.png')
      .col-md-9.col-xs-8
        h3.text-left.title #{title}
br