nav.navbar.navbar-default
  .container-fluid(style="background-color: #1295D8;height: 100px;background-image: url('/img/background.png')")
    .container
      .navbar-header
        img.navbar-brand(src='/img/logo.png', style="height: 100px")
        h3.navbar-text(style="color: white; line-height:100px; text-align:left;margin:0")= title
br