extends ../layout
//- 主页
block content

  -if(user.level == 0)  
    link(rel='stylesheet', href='/css/normal.css')
    include user
    script(src="/js/homeByUser.js")

  -else if(user.level == 1)
    link(rel='stylesheet', href='/css/secretaryPage.css')  
    include secretary

  -else
    link(rel='stylesheet', href='/css/adminPage.css')
    include admin
