//- 教学秘书

body
  nav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
      .navbar-header
        a.navbar-brand 教学秘书主页
      .collapse.navbar-collapse
        ul.nav.navbar-nav
          li: a 首页
          li: a 用户管理
          li: a 工资管理
        ul.nav.navbar-nav.navbar-right
          li: a(data-toggle="modal", data-target=".modal") 修改密码
          li: a(href="/signin") 退出
          
  .container-fluid.mainDiv
    .row
      .col-md-2
        h3 教学秘书主页
        p 秘书姓名：#{user.name}
        p 秘书工号：#{user.id}
        table.table.table-hover
          tr
            td
              botton.btn 首页
          tr
            td
              botton.btn 用户管理
          tr
            td
              botton.btn 工资管理
          tr
            td
              botton.btn 修改密码
          tr
            td
              a.btn(href="/signin") 退出

      .col-md-10

  //- 工资div
  .container-fluid.payDiv
    .row
      .col-md-2
        //- 按钮视图
        botton.btn 1
        botton.btn 2
        botton.btn 3
        botton.btn 4
        botton.btn 审核申请
      
      .col-md-10
        //- 数据视图


  include ../public/changePasswd
