//- 教学秘书

body

  .container-fluid
    .row
      .col-md-3(style="background:rgb(244,244,244);height:638px")
        h3 教学秘书功能
        p 秘书姓名：#{user.name}
        p 秘书工号：#{user.id}
        table.table
          tr
            td
              botton.btn 首页
          tr
            td
              botton.btn 用户系统
          tr
            td
              botton.btn 工资系统
          tr
            td
              botton.btn 修改密码
          tr
            td
              a.btn 退出

      .col-md-9(style="background:rgb(249,249,249);height:638px")
        
      
