//- 教学秘书

body
  .container-fluid
    .page-header
      h1 教务秘书页面
        small #{user.name}秘书
    .row
      .col-md-2.bg-primary
        .btn-group-vertical
          botton.btn.btn-block.btn-default 用户系统
          botton.btn.btn-block.btn-default 工资系统
          botton.btn.btn-block.btn-default 课程系统
          a.btn.btn-block.btn-danger(href="/signin") 退出

          
      .col-md-10
      
